@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,600,700,);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4D533C;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.main-title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 128%;
  color: #4D533C;
}

.content-text {
  line-height: 162%;
  color: rgba(33, 56, 66, 0.6);
}

.review-content-card {
  max-width: 28.3125rem;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
  padding: 1.875rem;
  display: block;
  background-color: #fff;
}

.review-content-card__text {
  font-style: italic;
  line-height: 162%;
  color: #4D533C;
  margin-bottom: 1.5rem;
}

.review-content-card__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
}

.review-content-card__author img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.review-content-card__image {
  background-color: #4D533C;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.review-content-card__name {
  font-weight: 700;
  line-height: 162%;
  margin-bottom: 0.25rem;
}

.review-content-card__position {
  font-size: 0.875rem;
  line-height: 150%;
}

.text-content-block {
  max-width: 29.6875rem;
  width: 100%;
  padding: 5.625rem 3.75rem 8.625rem 0rem;
}

.text-content-block__title {
  margin-bottom: 1.5rem;
}

.text-content-block__subtitle {
  margin-bottom: 5.625rem;
}

.text-content-block__bottom-link {
  text-decoration-line: underline;
  color: #D4D6D4;
  line-height: 1;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.text-content-block__bottom-link:hover {
  color: #FFD723;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.grey-link {
  text-decoration-line: underline;
  color: #D4D6D4;
  line-height: 1;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.grey-link:hover {
  color: #FFD723;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

@-webkit-keyframes opacityAnimation {
  0% {
    opacity: 0;
    position: relative;
    top: -50px;
  }

  100% {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
    position: relative;
    top: -50px;
  }

  100% {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

._watcher-view {
  -webkit-animation-name: opacityAnimation;
          animation-name: opacityAnimation;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.header {
  background-image: url("../img/header/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 25;
}

.header__top {
  margin: 24px 0px;
  height: 40px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6875rem;
  -webkit-animation-name: title-animation;
          animation-name: title-animation;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

.header-top__logo_text {
  padding-bottom: 0.625rem;
}

.menu__body {
  padding: 0 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.menu-open .menu__list {
  margin-top: 25px;
}

.menu__item {
  padding: 5px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #FFD723;
}

.header__bottom {
  margin-top: 97px;
}

.header-bottom {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom__content {
  max-width: 38.5rem;
  margin-bottom: 13.125rem;
}

.header-bottom__subtitle {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.375rem;
}

.header-bottom__title {
  font-size: 3.75rem;
  line-height: 1.23;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.header-bottom__description {
  line-height: 1.62;
  margin-bottom: 2.8125rem;
}

.header-bottom__link {
  border-bottom: 1px solid #FFD723;
  color: #FFD723;
  line-height: 1;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-bottom__link:hover {
  color: orange;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid orange;
}

.icon-menu {
  display: none;
}

.footer {
  max-height: auto;
  height: 100%;
  background-image: url("../img/footer/background-effects.png"), url("../img/footer/background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  color: #B6C197;
  padding-top: 19.375rem;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 250%;
  gap: 4.375rem;
  margin-bottom: 3.25rem;
}

.phone {
  padding: 0.3125rem 0.3125rem;
}

.phone__number {
  font-weight: 700;
  color: #ffffff;
}

.adress {
  padding: 0.3125rem 0.3125rem;
}

.adress__adress {
  font-weight: 700;
  color: #ffffff;
}

.info {
  border-top: 1px solid #5e7055;
  padding: 2.8125rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: auto;
  margin-bottom: 0.9375rem;
}

.info__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3125rem 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 42.3125rem;
  border-right: 1px solid #5e7055;
  padding-right: 0.8125rem;
  max-width: 42.3125rem;
  width: 100%;
  margin-bottom: 3.75rem;
}

.info__navigation > * {
  margin-bottom: 1.875rem;
}

.info-block {
  min-width: 6.25rem;
  max-width: 10.4375rem;
  width: 100%;
  padding: 0.3125rem;
}

.info-block__title {
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 1.3125rem;
}

.info-block__item {
  padding: 0.625rem 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-block__item:hover {
  color: #FFD723;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-block {
  max-width: 20.75rem;
  width: 100%;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  margin-left: 1.875rem;
}

.contacts-block__title {
  text-transform: uppercase;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 238%;
  margin-bottom: 1.4375rem;
}

.contacts-block__description {
  line-height: 162%;
  margin-bottom: 1.4375rem;
}

.contacts-block__email {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 158%;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}

.contacts-block__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.contacts-block__container {
  height: 2.125rem;
  width: 2.125rem;
  background-color: #364030;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-block__container:hover {
  background-color: #FFD723;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-block__container img {
  height: 1.3125rem;
  width: 1.3125rem;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5625rem 0.3125rem 0 0.3125rem;
  margin-bottom: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #5e7055;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__bottom-image {
  padding: 0.3125rem;
}

.footer__bottom-copyright {
  text-align: right;
  padding: 0.3125rem;
  line-height: 160%;
}

@-webkit-keyframes rightContainer {
  0% {
    left: 0;
  }

  100% {
    left: 800px;
  }
}

@keyframes rightContainer {
  0% {
    left: 0;
  }

  100% {
    left: 800px;
  }
}

.partners {
  z-index: 26;
  position: relative;
}

.partners__container {
  min-height: 14.1875rem;
  max-width: 69.375rem;
  width: 100%;
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -100px;
  position: relative;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.partners__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: -186.875rem;
  height: 14.1875rem;
  width: 187.5rem;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-open .partners__container::after {
  background-color: #4D533C;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.partners__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 62.5rem;
}

.partners__logo {
  width: 9.75rem;
  height: 7.0625rem;
  margin: 0.3125rem 0.625rem;
  -webkit-animation-name: title-animation;
          animation-name: title-animation;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
}

.strategy__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  padding-bottom: 9.375rem;
  border-bottom: 1px solid #D4D6D4;
}

.strategy__content {
  max-width: 29.625rem;
  width: 100%;
  padding-top: 7.5rem;
}

.strategy__subtitle {
  margin-bottom: 1.8125rem;
}

.strategy__title {
  margin-bottom: 2.1875rem;
}

.strategy__text {
  margin-bottom: 2.625rem;
}

.strategy__review-card {
  max-width: 29.625rem;
  padding: 7.5rem 0.5rem 3.75rem 2.5rem;
  -webkit-box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
}

.strategy__review-text {
  margin-bottom: 3.125rem;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 167%;
  color: #4D533C;
}

.strategy__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.strategy__photo-container {
  max-width: 5.625rem;
  max-height: 5.625rem;
  width: 100%;
  background-color: #4D533C;
  border-radius: 50%;
}

.strategy__photo-container img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.145947);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.145947);
}

.author__name {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 150%;
  color: #4D533C;
  margin-bottom: 0.375rem;
}

.author__position {
  line-height: 150%;
  color: #152934;
}

.project {
  margin-top: 9.375rem;
  margin-bottom: 6.5625rem;
}

.project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8.3125rem;
}

.project__title {
  max-width: 20.3125rem;
  width: 100%;
}

.project__subtitle {
  max-width: 32.375rem;
  width: 100%;
}

.balenciaga {
  margin-bottom: 6.25rem;
}

.balenciaga__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.balenciaga__text-content {
  position: relative;
}

.balenciaga__bg {
  position: absolute;
  right: 571px;
  top: 0;
  z-index: -1;
}

.future {
  margin-bottom: 6.25rem;
}

.future__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.future__text-content {
  position: relative;
}

.future__bg {
  position: absolute;
  left: 571px;
  top: 0;
  z-index: -1;
}

.booking {
  margin-bottom: 6.25rem;
}

.booking__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.booking__text-content {
  position: relative;
}

.booking__bg {
  position: absolute;
  right: 571px;
  top: 0;
  z-index: -1;
}

.advantages {
  margin-bottom: 9.375rem;
}

.advantages__container {
  border-top: 1px solid #D4D6D4;
}

.advantages__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 19.3125rem;
}

.advantages__item {
  max-width: 15.9375rem;
  min-height: 100%;
  padding: 1.6875rem 1.875rem 2.25rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 142%;
  text-transform: uppercase;
  color: #4D533C;
  margin-bottom: 1.25rem;
}

.advantages__subtitle {
  font-size: 0.875rem;
  line-height: 186%;
  color: rgba(33, 56, 66, 0.6);
}

.advantages__link {
  line-height: 110%;
  text-decoration-line: underline;
  color: #D4D6D4;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 1.25rem;
}

.advantages__link:hover {
  color: #FFD723;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.advantsges__title {
  padding-top: 9.375rem;
  margin-bottom: 3.75rem;
  max-width: 37.9375rem;
}

.make__container {
  background-color: #FAFAFA;
  -webkit-box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  margin-bottom: -11.875rem;
  z-index: 100;
  position: relative;
  padding-bottom: 4.4375rem;
}

.make__container::before {
  content: "";
  position: absolute;
  left: -187.375rem;
  top: 0;
  height: 22.25rem;
  width: 187.5rem;
  background-color: #FAFAFA;
  z-index: -1;
}

.make__title {
  padding-top: 4.375rem;
  max-width: 51.375rem;
  margin-bottom: 3.125rem;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 123%;
}

.make__link {
  line-height: 110%;
  text-decoration-line: underline;
  color: #D4D6D4;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.make__link:hover {
  color: #FFD723;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 47.99875em) {
  .menu-open .partners__container {
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .partners__container::after {
    background-color: #fff;
  }
}

@media (max-width: 1100px) {
  .advantages__item {
    max-width: 50%;
    width: 50%;
  }
}

@media (max-width: 992px) {
  .partners__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2vw;
  }
}

@media (max-width: 600px) {
  .info__navigation > * {
    margin-bottom: 0.625rem;
  }

  .info__navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.625rem;
  }

  .footer__bottom-copyright {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .main-title {
    font-size: 7vw;
  }

  .header-top__logo_img {
    max-width: 35px;
    margin-bottom: 5px;
  }

  .header-top__logo_text {
    max-width: 130px;
  }

  .partners__logo {
    width: 6.875rem;
    height: 5.3125rem;
    margin: 0 0.3125rem;
  }
}

@media (max-width: 450px) {
  .info__navigation {
    padding: 0;
  }

  .advantages__title {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 61.99875em) {
  .text-content-block {
    max-width: 90%;
    text-align: left;
    padding: 5.625rem 0rem 0rem 0rem;
    margin-top: 2.5rem;
    margin: 0 auto;
  }

  .text-content-block__subtitle {
    margin-bottom: 1.25rem;
  }

  .footer {
    padding-top: 13.75rem;
  }

  .contacts {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 200%;
    margin-bottom: 3vw;
  }

  .phone__title {
    text-align: center;
  }

  .adress__title {
    text-align: center;
  }

  .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1.875rem 0 0 0;
    width: 100%;
  }

  .info__navigation {
    padding: 0.625rem;
    margin-bottom: 0;
    max-width: 100%;
    border-right: none;
  }

  .info-block:last-child {
    max-width: 13vw;
  }

  .contacts-block {
    margin-left: 0;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .strategy__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .strategy__content {
    max-width: 100%;
  }

  .strategy__review-card {
    max-width: 100%;
    padding: 2.5rem 1.25rem 1.25rem 1.25rem;
  }

  .project {
    margin-top: 8vw;
    margin-bottom: 5vw;
  }

  .project__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 4.375rem;
  }

  .balenciaga__bg {
    position: relative;
    top: 20px;
    right: auto;
    width: 100%;
  }

  .future__bg {
    position: relative;
    top: 20px;
    left: auto;
    width: 100%;
  }

  .booking__bg {
    position: relative;
    top: 20px;
    right: auto;
    width: 100%;
  }

  .advantages {
    margin-bottom: 15vw;
  }
}

@media (max-width: 47.99875em) {
  .review-content-card {
    max-width: 100%;
    padding: 1.25rem 1.25rem;
  }

  .text-content-block {
    max-width: 100%;
    padding: 12vw 0 0 0;
  }

  .header-top__logo {
    position: absolute;
    z-index: 200;
  }

  .header-top__logo_img {
    max-width: 40px;
    margin-bottom: 3px;
  }

  .header-top__logo_text {
    max-width: 160px;
  }

  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4D533C;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 30;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 5.3125rem;
    background-color: #23301d;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5.625rem 0.9375rem 1.875rem 0.9375rem;
  }

  .menu__item {
    font-size: 1.875rem;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .header__bottom {
    margin-top: 13vw;
  }

  .header-bottom__content {
    margin-bottom: 9.375rem;
  }

  .header-bottom__title {
    font-size: 8vw;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 2.0625rem;
    right: 0.9375rem;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 30;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer {
    padding-top: 11.25rem;
  }

  .contacts {
    margin-bottom: 7vw;
  }

  .info__navigation > * {
    margin-bottom: 0rem;
  }

  .contacts-block__email {
    font-size: 1.25rem;
  }

  .menu-open .partners__container {
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }

  .partners__logo {
    width: 8.125rem;
    height: 5.9375rem;
    margin: 0 0.3125rem;
  }

  .strategy__container {
    padding-bottom: 20vw;
  }

  .strategy__content {
    padding-top: 15vw;
  }

  .strategy__review-card {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  }

  .strategy__review-text {
    font-size: 1.25rem;
    margin-bottom: 5vw;
  }

  .project__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.25rem;
  }

  .project__title {
    max-width: 100%;
  }

  .project__subtitle {
    max-width: 100%;
  }

  .balenciaga {
    margin-bottom: 1.875rem;
  }

  .balenciaga__container {
    gap: 1.25rem;
  }

  .future {
    margin-bottom: 1.875rem;
  }

  .future__container {
    gap: 1.25rem;
  }

  .booking {
    margin-bottom: 1.875rem;
  }

  .booking__container {
    gap: 1.25rem;
  }

  .advantages {
    margin-bottom: 5vw;
  }

  .advantages__item {
    max-width: 100%;
    width: 100%;
    padding: 0 0 1.875rem 0;
  }

  .advantsges__title {
    padding-top: 17vw;
    margin-bottom: 10vw;
  }

  .make__container {
    padding-bottom: 10vw;
    margin-bottom: -9.375rem;
  }

  .make__container::before {
    background-color: #4D533C;
    left: 187.8125rem;
  }

  .make__title {
    font-size: 8vw;
    padding-top: 10vw;
    margin-bottom: 5vw;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 47.99875em) {
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    background-color: #fff;
  }
}